<form method="POST">
  <div class="mb-3">
      <label for="number1" class="form-label">Số thứ nhất</label>
        <input type="munber" class="form-control" id="number1" name ="number1">
              
  </div>
    <div class="mb-3">
      <label for="number2" class="form-label">Password</label>
        <input type="number" class="form-control" id="number2" name ="number2">
    </div>
  <button type="submit" class="btn btn-primary">Tính Tổng</button>
</form>
